.site-hero{
	height: 850px;
	width: 100%;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.site-hero .big-title{
	font-size: 48px;
	color:#60606e;
	padding: 10px 40px;
	border:solid 10px #60606e;
	display: inline-block;
}

.montserrat-text{font-family: "Montserrat", sans-serif; font-weight: 700}